
<h1 align="center" class="mb-0">Detalle del
    <span class="text-primary">Finiquito</span>
</h1>
<div class="container">
	<table class="table table-striped table-hover medium">
		<tbody>
			<tr>
				<td>
					<medium><strong>Observacion</strong></medium>
				</td>
				<td>
					<medium><%=@event.observation%></medium>
				</td>
			</tr>
			<tr>
				<td>
					<medium><strong>Fecha de inicio</strong></medium>
				</td>
				<td>
					<medium><%=@event.date%></medium>
				</td>
			</tr>
			

		</tbody>
	</table>

<!--Aqui se mostrara la factura del evento-->
<div class="accordion" id="accord">
	<p>
		<a class="btn btn-primary" data-toggle="collapse" href="#factura" role="button" aria-expanded="false" aria-controls="factura">Factura Evento</a>
	</p>
    <div class="collapse multi-collapse" id="factura" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @event.finiquito_doc.url(:thumb) %></p>
      </div>
    </div>
    
		
</div>  