
<h1 align="center" class="mb-0">Detalle del
    <span class="text-primary">Vacacion</span>
</h1>
<div class="container">
	<table class="table table-striped table-hover medium">
		<tbody>
		<tr>
				<td>
					<medium><strong>Nombre</strong></medium>
				</td>
				<td>
					<medium><%=@vacation.name%></medium>
				</td>
			</tr>
			<tr>
				<td>
					<medium><strong>Dias tomados</strong></medium>
				</td>
				<td>
					<medium><%=@vacation.days_taken%></medium>
				</td>
			</tr>
			
		</tbody>
	</table>

<!--Aqui se mostrara la factura del evento-->
<div class="accordion" id="accord">
	<p>
		<a class="btn btn-primary" data-toggle="collapse" href="#factura" role="button" aria-expanded="false" aria-controls="factura">Ver imagen Vacacion tomada</a>
	</p>
    <div class="collapse multi-collapse" id="factura" data-parent="#accord">
      <div class="card card-body">
        <p align="center"> <%= image_tag @vacation.vacacion_doc.url(:thumb) %></p>
      </div>
    </div>
    
		
</div>  


<div align="center">
          <h1></h1>
		  <h1>&nbsp </h1>
        
          <table>
          <thead>
            <tr>
              <th scope="col"><a class="btn btn-primary" href="/guards"><i class="fa fa-arrow-circle-left"></i> Volver al listado de guardias</a></th>
              <th>
			  <%=link_to '<span class="fa fa-plus-square" data-original-title="Editar">Ir a Editar Vacacion</span>'.html_safe , edit_vacation_path(@vacation), class: "btn btn-success"%>
			  </th>
			  
            </tr>
          </thead>
        </table>
</div>