
<%if !@installation.contract_installations.nil?%>
	<% for item in @installation.contract_installations%>
		<p>Fecha de inicio</p>
		    <%=item.start_date%>
		<p>Fecha de termino</p>
		    <%=item.finish_date%>
		<p>Documento asociado</p>
		<a href=<%=item.contrato_de_instalacion_doc%>&embedded=true">Visualizar Contrato PDF</a>
	<%end%>
<%end%>
