<h1 align="center" class="mb-0">Detalle del
    <span class="text-primary">Documentacion OS10</span>
</h1>
<div class="container">
	<table class="table table-striped table-hover medium">
		<tbody>
			<tr>
				<td>
					<medium><strong>Expiracion</strong></medium>
				</td>
				<td>
					<medium><%=@osdocumentation.expiration%></medium>
				</td>
			</tr>
			<tr>
				<td>
					<medium><strong>Estado</strong></medium>
				</td>
				<td>
				
					<% if @osdocumentation.state == false %>
							<medium>Vencido</medium>
       	 		<% else %>
							<medium>Vigente</medium>
        		<% end %>
					
				</td>
			</tr>

		</tbody>
	</table>

<!--Aqui se mostrara la factura del evento-->
<div class="accordion" id="accord">
	<p>
		<a class="btn btn-primary" data-toggle="collapse" href="#factura" role="button" aria-expanded="false" aria-controls="factura">Ver Certificado OS10 PDF</a>
	</p>
    <div class="collapse multi-collapse" id="factura" data-parent="#accord">
      <div class="card card-body">
      <a href<%= @osdocumentation.certificado_os10_doc%>&embedded=true">Visualizar Documento os10 PDF</a>
        <!--p align="center"> <%= image_tag @osdocumentation.certificado_os10_doc.url(:thumb) %></p-->
      </div>
    </div>
    
		
</div>  



	<div align="center">
          <h1></h1>
		  <h1>&nbsp </h1>
        
          <table>
          <thead>
            <tr>
              <th scope="col"><a class="btn btn-primary" href="/guards"><i class="fa fa-arrow-circle-left"></i> Volver al listado de guardias</a></th>
              <th>
			  <%=link_to '<span class="fa fa-plus-square" data-original-title="Editar">Ir a Editar Documento os10</span>'.html_safe , edit_osdocumentation_path(@osdocumentation), class: "btn btn-success"%>
			  </th>
			  
            </tr>
          </thead>
        </table>
</div>
</div>