
<%if !@installation.events.nil?%>
	<% for item in @installation.events%>
		<p>Nombre</p>
		    <%=item.name%>
		<p>Fecha</p>
		    <%=item.date%>
		<p>Documento asociado</p>
		    <%=image_tag item.factura_evento_doc%>
	<%end%>
<%end%>
