
<!--Se agrega la seccion para la pagina de inicio, que son datos basicos de la empresa-->

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Transbe
            <span class="text-primary">Seguridad</span>
          </h1>
          <div class="subheading mb-5">Rafael Cañas 76 Oficina 201 · Teléfono: (56 2) 2236 6783 ·
            <a href="mailto:name@email.com">contacto@transbe.cl</a>
          </div>

          
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              

          <h6 class="mb-5">Transbe ofrece servicios de guardias de seguridad para instalaciones,
eventos, estacionamientos, entre otros.
Servicio de capacitación OS10 para guardias, conserjes y supervisores
de seguridad</h6>
          <ul class="list-inline list-social-icons mb-0" align="center">
            <li class="list-inline-item" >
              <a href="https://www.facebook.com/TransbeSeguridad/">

                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
           
            
            <li class="list-inline-item">
              <a href="http://www.transbe.cl/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-internet-explorer fa-stack-1x fa-inverse"></i>
                  
                </span>
              </a>
            </li>
             
          </ul>
        </div>
      </section>
