
<%if !@guard.contract_guards.nil?%>
	<% for item in @guard.contract_guards%>
		<p>Fecha de inicio</p>
		    <%=item.start_date%>
		<p>Fecha de termino</p>
		    <%=item.finish_date%>
		<p>Documento asociado</p>
			<%=image_tag item.contrato_doc%>
		<!--a href=<%=item.contrato_doc%>&embedded=true">Visualizar Contrato PDF</a-->
		
	<%end%>
		
<%end%>
