/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body1 {
   height: auto;
   width:80%; 
   position: fixed;
		/*nos posicionamos en el centro del navegador*/
		top:30%;
		left:10%;
		
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left:-200px;
	
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-100px;
		border:1px solid #808080;
		padding:5px;
   
 }
 
 body1 {
   display: -ms-flexbox;
   display: flow-root;
   -ms-flex-align: center;
   align-items: center;
   padding-top: 30px;
   padding-bottom: 40px;
   background-color: #f5f5f5;
   margin-left : auto;
   margin-right : auto;
  
   
 }
 
card-group card{
  
    top: 50%;
  

  
  
  
}